@font-face {
    font-family: "Emblema One";
    src: url("http://wickedlysmart.com/hfhtmlcss/chapter8/journal/EmblemaOne-Regular.woff"),
         url("http://wickedlysmart.com/hfhtmlcss/chapter8/journal/EmblemaOne-Regular.ttf");
}
body{
    font-family: "Emblema One", sans-serif;
    font-size: small;
    border-color: #cc6600;
    /* border-color: rgb(80%,20%,0%);     */
    /* border-color: rgb(204,102,0); */
}
h1{
    font-family: "Emblema One", sans-serif;
    font-size: 220%;
}
h2{
    font-size: 130%;
    font-weight: normal;
}
blockquote{
    font-style: italic;
}